/*取消导航栏的蓝底线*/
#nav *::after{
    background-color: transparent!important;
}
/*导航栏居中*/
#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}
/*导航栏常驻*/
.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}
/*二级菜单横向布局*/
.menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
    /*
      left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
    改为：*/
    left:50%;
    translate:-50%;
}
/*对aplayer手机上显示的适配*/
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}
/**********************************/
/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 2.0新增内容 */
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}
.loading-img {
    background: url(https://oss-demo-bzy.oss-cn-hangzhou.aliyuncs.com/photos/111.jpeg) no-repeat center center;
    background-size: cover;
}

/*全局字体*/
@font-face {
    font-family: 'MiSans-Light','斗鱼追光体';
    font-display: swap;
    src: url('/fonts/MiSans-Light.ttf') format("truetype");
}

@font-face {
    font-family: '斗鱼追光体';
    font-display: swap;
    src: url('/fonts/斗鱼追光体.ttf') format("truetype");
}

/*welcome*/
#welcome-info {
    overflow: hidden;
    --icat-card-welcome: #49b1f5;
}
#welcome-info .welcome-time {
    width: 100%;
    margin: 12px 0 0;
    display: inline-flex;
}
#welcome-info .welcome-message {
    width: 100%;
    margin-bottom: 8px;
    display: inline-flex;
}
#welcome-info .welcome-region {
    background: var(--icat-background);
    border: var(--style-border);
    color: var(--icat-fontcolor);
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    margin: 6px 0;
}

/* 欢迎信息栏样式 */